body {
  background-color: rgb(251, 251, 251);
}

h1 {
  color: #707070;
  font-weight: normal;
  margin: 2px;
  text-align: center;
  font-weight: bold;
}

h2 {
  color: #707070;
  font-weight: normal;
  text-align: center;
}

h4 {
  color: #707070;
  font-weight: normal;
  font-size: 16px;
  margin: 2px;
}

h5 {
  color: #707070;
  font-weight: normal;
  font-size: 14px;
  margin: 2px;
}

.room-name {
  width: 100%;
  text-align: center;
}

.create-room-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-bottom: 10px;
}

.create-room-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #707070;
  background-color: transparent;
  margin: 10px;
}

.create-room-button .material-icons {
  font-size: 35px;
}

.create-room-name-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.create-room-name {
  margin: 10px;
}

.rooms-container {
  margin: 10px;
}

.card {
  border: 1px solid rgba(58, 53, 53, 0.061);
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  box-shadow: 0px 2px 3px rgb(190, 190, 190);
}

.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 10px;
}

.devices-container {
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.room {
  position: relative;
  min-height: 160px;
  display: flex;
  flex-direction: column;
}

.room-lighting-state {
  position: absolute;
  left: 0px;
  margin: 6px;
}

.room-lighting-state svg {
  fill: #707070;
  width: 35px;
  height: 35px;
  filter: drop-shadow(0px 1px 1px rgb(190, 190, 190));
}

.delete-room-button {
  width: 60px;
  height: 60px;

  border-radius: 50%;
  background-color: transparent;
  outline: transparent;
  position: absolute;
  right: 0px;
  margin: 5px;
  border: 1px solid rgba(58, 53, 53, 0.233);
  box-shadow: inset 0px 0px 0px rgb(190, 190, 190);
}

.delete-room-button:active {
  border: 1px solid rgba(58, 53, 53, 0.151);
  box-shadow: inset 0px 1px 0px rgb(100, 100, 100);
}

.delete-room-button:active svg {
  fill: rgb(253, 85, 85);
  transform: translateY(1px);
  filter: drop-shadow(0px 1px 1px rgb(151, 150, 150));
}

.delete-room-button svg {
  width: 35px;
  height: 35px;
  fill: rgb(253, 85, 85);
  filter: drop-shadow(0px 1px 1px rgb(190, 190, 190));
}

.room-state-container {
  height: 20px;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.room-state-indicator {
  border: 2px solid #707070;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 3px 3px 6px 3px;
}

.device {
  position: relative;
}

.device-name {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.online-status {
  position: absolute;
  right: 0px;
  margin: 5px;
}

.online-status svg {
  filter: drop-shadow(0px 1px 1px rgb(190, 190, 190));
  width: 35px;
  height: 35px;
}

.wifiConnected {
  fill: rgb(35, 255, 54);
}

.wifiDisconnected {
  fill: rgb(255, 35, 35);
}

.wallpanel-device {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #707070;
  border-radius: 5px;
  width: 90%;
  height: 300px;
  width: 300px;
  margin: 10px auto 20px auto;
}

.wallpanel-device-button {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  border: 2px solid #707070;
  background-color: #ffffff;
}

.wallpanel-device-button {
  outline: none;
}

.subscription-switch-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  height: 50px;
}

.subscription-switch {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid #707070;
  border-radius: 25px;
  width: 80px;
  height: 40px;
  transition: all 0.5s ease;
}

.subscription-switch-button {
  background-color: #ffffff;
  border: 1px solid #707070;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.5s ease;
}

@keyframes fade-in-out {
  0% {
    fill: rgba(253, 85, 85, 0.5);
  }
  50% {
    fill: rgb(253, 85, 85);
  }
  100% {
    fill: rgba(253, 85, 85, 0.5);
  }
}
